/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.certifications-text {
    color: var(--dark-text);
    font-family: Comfortaa, system-ui;
    font-size: 24px;
    text-align: center;
}

body.light .certifications-text {
    color: var(--light-text);
}

.certifications-badge {
    display: block;
    width: 340px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.certificate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--sgd-blue);
    width: fit-content;
    max-width: 80%;
}

body.light .certificate {
    color: var(--light-sgd-blue);
}

.certificate-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
    border: 1px solid var(--dark-accent);
    border-radius: 20px;
}

body.light .certificate-img {
    border: 1px solid var(--light-accent);
}