/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.downloads-header{
    font-family: Orbitron, Open Sans, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: var(--dark-text);
    text-shadow: 4px 2px 4px #00000025;
}

body.light .downloads-header{
    color: var(--light-text);
}

.download-desc{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
}

body.light .download-desc{
    color: var(--light-text);
}

.download-link{
    background-color: #42c48e;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 4px;
}
