/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.dl-link {
    /*color: #2871c5;
    background-color: var(--dark-foreground);
    padding: 6px 12px; border-radius: 5px;
    text-decoration: none;
    font-size: 26px;
    text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--sgd-blue);
    color: var(--dark-text);
    padding: 9px 36px 9px 36px;
    text-decoration: none;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: fit-content;
    transition: background 0.3s;
}

.dl-link:hover {
    background-color: #185485;
}

body.light .dl-link{
    color: var(--light-foreground);
    background-color: var(--light-sgd-blue);
}

body.light .dl-link:hover {
    background-color: #015eaf;
}