@font-face {
    src: url('fonts/Orbitron.woff2');
    font-family:'Orbitron';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('fonts/OpenSans.woff2');
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('fonts/OpenSans-Italic.woff2');
    font-family:'Open Sans';
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('fonts/Comfortaa.woff2');
    font-family:'Comfortaa';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}