/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

/*  Start Bio-Short Section */

.bio-short{
    width: 100%;
}

.sgd-logo{
    border: 2px solid var(--dark-accent);
    border-radius: 40px;
    width: 256px;
    height: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body.light .sgd-logo{
    border: 2px solid var(--light-accent);
}

.intro{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 2px 4px #00000025;
    transition-property: none;
    text-align: center;
}

body.light .intro{
    color: var(--light-text);
}

.about-short{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 22px;
    line-height: 42px;
    transition-property: none;
}

body.light .about-short{
    color: var(--light-text);
}

/*  End Bio-Short Section */

.about-me-bio{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

body.light .about-me-bio{
    color: var(--light-text);
}

.experience-minor-h{
    color: var(--sgd-blue);
}

body.light .experience-minor-h{
    color: var(--light-sgd-blue);
}

.skills{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

body.light .skills{
    color: var(--light-text);
}

.contact-p{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 20px;
    line-height: 30px;
    
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

body.light .contact-p{
    color: var(--light-text);
}

.socials-header{
    font-family: Orbitron, Open Sans, system-ui;
    font-size: 50px;
    font-weight: bold;
    color: var(--dark-text);
    text-shadow: 4px 2px 4px #00000025;
    text-align: center;
}

body.light .socials-header{
    color: var(--light-text);
}

.socials-p{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 20px;
    line-height: 30px;
    
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

body.light .socials-p{
    color: var(--light-text);
}