/* Add Orbitron Bold Font*/

/*@font-face {
    font-family: 'Orbitron';
    font-style: bold;
    font-weight: 700;
    font-display: fallback;
    src: local('Orbitron'), local('Orbitron Bold'), local('Orbitron-Bold'), url(Orbitron-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-display: fallback;
    src: local('Open Sans'), local('Open Sans Bold'), local('Open-Sans-Bold'), url(OpenSans-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/Orbitron-VariableFont_wght.ttf');
    font-family:'Orbitron';
    font-style: normal;
    font-weight: 1 1000;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/OpenSans-VariableFont_wdth,wght.ttf');
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 1 1000;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-family:'Open Sans';
    font-style: italic;
    font-weight: 1 1000;
}

/* Whole Page */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*  Start Header Section */

.header{
    background: #2d333b;
    height: 4vw;
    width: 100%;
    line-height: 1vw;
}

.header-logo{
    width: 16vw;
}

/*  End Header Section */

/* Start Back to Top button modified from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #424242;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px; /* Default 18px*/
    font-family: Orbitron, Open Sans, sans-serif;
    font-weight: bold
  }
  
  #myBtn:hover {
    background-color: #5a5a5a;
  }

/* End Back to Top button */

/*  Start Bio-Short Section */

.bio-short{
    background-color: #22272e;
    width: 100%;
}

.sgd-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #424242;
    border-radius: 3vw;
    width: 10vw;
}

.intro{
    font-family: Open Sans, sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    text-align: center;
    color: azure;
    line-height: 40px;
}

.about-short{
    display: flex;
    width: 40vw;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 1.5vw;
    font-weight: semibold;
    color: azure;
    line-height: 125%;
    line-break: 20vw;
    margin-left: auto;
    margin-right: auto;
}

/*  End Bio-Short Section */

/* Vertical Border */

.vert-border-section{
    width: 100%;
    background-color: #22272e;
}

.vert-border{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    z-index: 10;
    border: 0.5vw solid #494e58;
    border-radius: 10px
}

/* End Vertical Borders */

/* Start About-Me Section */

.about-me{
    height: 25vw;
    width: 100%;
    background-color: #22272e;
}

.about-me-header{
    position: relative;
    z-index: 10;
    align-items: center;
    font-family: Orbitron, Open Sans, sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    color: azure;
}

.about-me-desc{
    position: absolute;
    z-index: 10;
    font-family: Open Sans, sans-serif;
    font-size: 1.5vw;
    font-weight: semibold;
    justify-items: left;
    text-align: left;
    color: azure;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* End About-Me Section */

/* Start Apps Section*/

.apps{
    width: 100%;
    background-color: #22272e;
}

.apps-img{
    width: 35vw;
}

/* End Apps Section*/

/* Start Projects Section */

.projects{
    width: 100%;
    background-color: #22272e;
}

.fprop-project-card{
    width: 30vw;
}

/* End Projects Section */

/* Start Contact Section */

.contact{
    width: 100%;
    height: 25vw;
    background-color: #22272e;
}

.contact-desc{
    position: absolute;
    z-index: 10;
    font-family: Open Sans, sans-serif;
    font-size: 1.5vw;
    font-weight: semibold;
    justify-items: left;
    text-align: left;
    color: azure;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* End Contact Section */

/* Start Social Links Section */

.socials{
    width: 100%;
    height: 20vw;
    background-color: #22272e;
}

.social-icon{
    width: 4vw; /* 64px */
    margin: 0.5vw; /* 10px */
}

/* End Social Links Section */

/* Start Footer Section */

.footer{
    background: #2d333b;
    height: 15vw;
    width: 100%;
}

.footertext1{
    margin-left: auto;
    margin-right: auto;
    color: azure;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
}

.cf-attrib{
    margin-left: 30%;
    margin-right: 30%;
    color: azure;
    font-family: Orbitron, Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
}

.cf-atrrib-text{
    display: flex;
}

.cf-logo-bottom{
    text-align: center;
    width: 20vw;
}

/* End Footer Section */

/* Generic Line Break Heights */

.br-1vw{
    line-height: 2vw;
}

.br-2vw{
    line-height: 2vw;
}

.br-4vw{
    line-height: 4vw;
}