/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

/* Whole Page */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Comfortaa, Open Sans, sans-serif;
    transition: 1s;
    z-index: 10;
}

body{
    background: var(--dark-background);
}

body.light{
    background: var(--light-background);
}

/* Colour palette */

:root{
  /* Dark colors */
    --dark-background: #22272e;
    --dark-foreground: #2d333b;
    --dark-accent: #414141; /* #414141 */
    --dark-text: #f0ffff;
    --dark-border: #999999;
    --sgd-blue: #1d68a4; /* #1d68a4 */
  /* Light colors */
    --light-background: #EBEBEB; /* #ddeeeb*/
    --light-foreground: #acb1b3;
    --light-accent: #414141; /* #83898d */
    --light-text: #1c1c1d;
    --light-border: #414141;
    --light-sgd-blue: #014D8E; /* #004483 */
}

/* Text selection */

::-moz-selection { /* Code for Firefox */
    color: #22272e;
    background: #f0ffff;
  }
  
::selection {
  color: #22272e;
  background: #f0ffff;
}

body.light ::-moz-selection{ /* Code for Firefox */
    color: #928c8c;
    background: #1d68a4;
  }
  
body.light ::selection {
  color: #928c8c;
  background: #1d68a4;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  	background: var(--dark-border);
  	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: var(--sgd-blue);
}

/*  Start Header Section */

.header{
    background-color: var(--dark-foreground);
    height: 80px;
    width: 100%;
    border: 1px solid var(--dark-accent);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

body.light .header{
    background-color: var(--light-foreground);
    border: 1px solid var(--light-accent);
}

.hamburger-menu{
    top: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    background-color: var(--dark-accent);
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
}

body.light .hamburger-menu{
    background-color: var(--light-accent);
}

.hamburger-menu:hover{
    background-color: #999999;
}

body.light .hamburger-menu:hover{
    background-color: var(--light-border);
}

.header-logo{
    display: flex;
    position: absolute;
    top: 8px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 64px;
    height: 64px;
    background-color: var(--dark-accent);
    padding: 5px;
    border-radius: 12px;
}

body.light .header-logo{
    background-color: var(--light-accent);
}

.theme-icon{
    width: 32px;
    height: 32px;
}

.btn-toggle{
    display: flex;
    position: absolute;
    background-color: var(--dark-accent);
    padding: 5px;
    top: 18px;
    right: 20px;
    border-radius: 5px;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

.btn-toggle:hover{
    background-color: #999999;
}

body.light .btn-toggle{
    background-color: var(--light-accent);
}

body.light .btn-toggle:hover{
    background-color: var(--sgd-blue);
}

/*  End Header Section */

/* Sidebar */

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 15; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--dark-foreground); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

}
body.light .sidebar{
    background-color: var(--light-foreground);
}
/* The sidebar links */
.sidebar-link{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--dark-text);
  display: block;
  transition: 0.3s;
  font-family: Comfortaa, Open Sans, sans-serif;
}
body.light .sidebar-link{
  color: var(--light-text);
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  cursor: pointer;
  padding: 0px;
}
/* The button used to open the sidebar */
.openbtn {
  display: flex;
  top: 15px;
  position: absolute;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--dark-accent);
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.openbtn-img{
  width: 40px;
  height: 40px;
}
.openbtn:hover{
  background-color: #999999;
}
body.light .openbtn{
  background-color: var(--light-accent);
}
body.light .openbtn:hover{
  background-color: var(--sgd-blue);
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.closenavbutton{
  position: absolute;
  top: 15px;
  width: 30px;
  height: 30px;
  right: 1px;
}

.standard-link{
    color: var(--sgd-blue);
}

body.light .standard-link{
    color: var(--light-sgd-blue);
}

.vertical-section-divider{
    border: 5px solid var(--dark-border);
    border-radius: 20px;
    width: 80%;
}

.footer{
    background-color: var(--dark-foreground);
    height: 340px;
    border: 1px solid var(--dark-accent);
}

body.light .footer{
    background-color: var(--light-foreground);
    border: var(--light-accent);
}

.footer-p{
  color: var(--dark-text);
  line-height: 20px;
  font-family: Comfortaa, Open Sans, sans-serif;
  font-size: 15px;
}

body.light .footer-p{
  color: var(--light-text);
}

.attribution{
  color: var(--dark-text);
  line-height: 20px;
  font-family: Comfortaa, Open Sans, sans-serif;
  font-size: 15px;
}

body.light .attribution{
  color: var(--light-text);
}

.footer-link{
    color: #9CC6F2;
}

body.light .footer-link{
    color: #000000;
}

.text{
  color: var(--dark-text);
  font-family: Comfortaa, Open Sans, sans-serif;
  font-size: 24px;
}

body.light .text{
  color: var(--light-text);
}