/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.projects-subsection-h{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}

body.light .projects-subsection-h{
    color: var(--light-text);
}

.project-name{
    color: var(--dark-text);
    font-family: Orbitron, Open Sans, sans-serif;
    font-size: 30px;
    font-weight: bold;
    hyphens: auto;
    max-width: 90%;
    line-break: loose;
}

body.light .project-name{
    color: var(--light-text);
}

.project-desc{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

body.light .project-desc{
    color: var(--light-text);
}

.project-wrapper{
    margin-left: 10%;
    margin-right: 10%;
    background: var(--dark-foreground);
    padding: 15px;
    width: max-content;
    max-width: 80%;
    border-radius: 10px;
    border: 1px solid var(--dark-accent);
}

body.light .project-wrapper{
    background: var(--light-foreground);
    border: 1px solid var(--light-accent);
}

.source-link{
    background: #3085f3;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;
}

.source-link:hover{
    background: #1a437e;
}

.download-link{
    background: #42c48e;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

.download-link:hover{
    background: #1d5643;
}