/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.support-p{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 20px;
    text-align: center;
}

body.light .support-p{
    color: var(--light-text);
}

.portal-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--sgd-blue);
    color: #f0ffff;
    padding: 9px 36px 9px 36px;
    text-decoration: none;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: fit-content;
    transition: background 0.3s;
}

.portal-link:hover{
    background: var(--light-sgd-blue);
}

body.light .portal-link{
  background: var(--light-sgd-blue);
}

body.light .portal-link:hover{
    background: var(--sgd-blue);
}

.support-email{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 20px;
    line-break: loose;
    text-align: center;
}

body.light .support-email{
    color: var(--light-text);
}