/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.support-header{
    font-family: Orbitron, Open Sans, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: var(--dark-text);
    text-shadow: 4px 2px 4px #00000025;
}

body.light .support-header{
    color: var(--light-text);
}

.support-p{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 20px;
}

body.light .support-p{
    color: var(--light-text);
}

.portal-link{
    display: block;
    background: var(--sgd-blue);
    color: #f0ffff;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 25px;
    border-radius: 5px;
    width: 240px;
    transition: 0.3s;
}

.portal-link:hover{
    background: var(--light-sgd-blue);
}

body.light .portal-link{
  background: var(--light-sgd-blue);
}

body.light .portal-link:hover{
    background: var(--sgd-blue);
}

.support-email{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 20px;
    line-break: loose;
}

body.light .support-email{
    color: var(--light-text);
}