/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.support-header{
    font-family: Orbitron, Open Sans, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: var(--dark-text);
    text-shadow: 4px 2px 4px #00000025;
}

body.light .support-header{
    color: var(--light-text);
}

.support-p{
    color: var(--dark-text);
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

body.light .support-p{
    color: var(--light-text);
}

.portal-link{
    background-color: var(--sgd-blue);
    color: #f0ffff;
    padding: 10px;
    border-radius: 6px;
}

body.light .portal-link{
  background-color: var(--light-sgd-blue);
}
