@use '../shared';

.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #cccfd3;
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .footer {
	background-color: #0e1720;
  }
}