@use '../shared';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  height: 50px;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: shared.$background;

  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: shared.$dark-background;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.top-spacer {
  width: 100%;
  top: 0;
  height: 60px;
  display: block;
}

.sidebar {

  display: block;
  position: fixed;
  height: calc(100% - 50px);
  top: 50px;
  width: 10%;
  left: -10%;
  background: shared.$background-darker;
  margin: 0;
  border-radius: 0 20px 20px 0;

}

@media (prefers-color-scheme: dark) {
  .sidebar {
    background: shared.$dark-background-lighter;
  }
}