@use '../shared';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  height: 50px;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: shared.$background;

  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .header {
	background-color: shared.$dark-background;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.top-spacer {
  width: 100%;
  top: 0;
  height: 60px;
  display: block;
}

.sidebar {

  display: block;
  position: fixed;
  height: calc(100% - 50px);
  top: 50px;
  width: 15rem;
  left: -15rem;
  background: shared.$background-darker;
  margin: 0;
  border-radius: 0 20px 20px 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

@media (prefers-color-scheme: dark) {
  .sidebar {
	background: shared.$dark-background-lighter;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sidebar {
	width: 100%;
	left: -100%;
	border-radius: 0;
	box-shadow: none;
  }
}

.betterstack-badge {
  width: 200px;
  height: 30px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  overflow: hidden;
}