@use '../shared';

.sidebar-button {
  background-color: #eae4e4;
  width: 90%;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: left;

  text-decoration: none;
  color: shared.$text;
  transition: 300ms;
  border: 1px solid rgba(255, 255, 255, 0);
}

@media (prefers-color-scheme: dark) {
  .sidebar-button {
    background-color: shared.$dark-accent;
    color: shared.$dark-text;
  }
}

.sidebar-button:hover {
  border: 1px solid rgb(124, 124, 124);
}

.title {
  margin-left: 0.625rem;
}

.icon {
  margin-left: 0.625rem;
}