@use '../shared';

.button-container {
  display: flex;
  align-items: center;
  justify-content: left;

}

.sidebar-button-toggle {
  border: none;
  background: none;
}

.icon-large {
  font-size: 48px;
  font-variation-settings:
          'opsz' 48
}