@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Rubik:700|Noto%20Sans:400|Jetbrains+Mono:400');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$text: #0b0f13;
$background: hsl(262, 52%, 96%);
$background-darker: hsl(262, 52%, 91%);
$background-darkest: hsl(262, 52%, 86%);

$primary: hsl(241, 31%, 50%);
$secondary: hsl(175, 22%, 50%);
$accent: hsl(56, 48%, 50%);

$dark-text: hsl(0, 0%, 95%);
$dark-background: hsl(0, 0%, 14%);
$dark-background-lighter: hsl(0, 0%, 18%);
$dark-background-lightest: hsl(0, 0%, 21%);

$dark-primary: #75bbf0;
$dark-secondary: #10477e;
$dark-accent: #054a8f;

$border: hsl(0, 0%, 25%);

$primary-font: Inter, sans-serif;
$secondary-font: Roboto, sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Noto Sans', system-ui;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', system-ui;
  font-weight: 700;
  text-align: center;
}

code {
  font-family: "JetBrains Mono", monospace;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root {
  color: $text;
  background-color: $background;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $dark-text;
    background-color: $dark-background;
  }
}

%text-shared {
  color: $text;
}

@media (prefers-color-scheme: dark) {
  %text-shared {
    color: $dark-text;
  }
}

.description {
  @extend %text-shared;
}

.material-symbols-rounded {
  color: $text;
  font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}

@media (prefers-color-scheme: dark) {
  .material-symbols-rounded {
    color: $dark-text;
  }
}

@media (prefers-color-scheme: dark) {
  button {
    color: $dark-text;
  }
}

/* Style links*/

a {
  color: $primary;
}

@media (prefers-color-scheme: dark) {
  a {
    color: $dark-primary;
  }
}

section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.pill-button {
  font-family: Noto Sans, system-ui;
  color: $text;
  background: $primary;
  border-radius: 50px;
  display: block;
  padding: 20px 40px;
  width: fit-content;
  font-weight: bold;
  transition: 300ms;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: auto auto;
  font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
  .pill-button {
    color: $dark-text;
    background-color: $dark-accent;
  }
}

.pill-button:hover {
  filter: brightness(90%);
  transform: scale(1.1);
}

.special-text {
  background: linear-gradient(120deg, $primary, $secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-wrap: nowrap;
}

@media (prefers-color-scheme: dark) {
  .special-text {
    background: linear-gradient(120deg, $dark-primary, $dark-accent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}