.footer{
    background: var(--dark-foreground);
    height: 435px;
    border-top: 1px solid var(--dark-accent);
    position: relative;
    margin-top: -435px;
    /* negative value of footer height */
    clear: both;
}

body.light .footer{
    background: var(--light-foreground);
    border-top: 1px solid var(--light-accent);
}

.footer-p{
    color: var(--dark-text);
    line-height: 20px;
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 15px;
    text-align: center;
}

body.light .footer-p{
    color: var(--light-text);
}

.attribution{
    color: var(--dark-text);
    line-height: 20px;
    font-family: Comfortaa, Open Sans, system-ui;
    font-size: 15px;
    text-align: center;
}

body.light .attribution{
    color: var(--light-text);
}

.footer-link{
    color: var(--dark-blue-high-contrast);
}

body.light .footer-link{
    color: var(--light-blue-high-contrast);
}

#betterstack-attribution {
    border-radius: 4px;
}