/*  Start Header Section */

.header{
    display: block;
    position: fixed;
    background: var(--dark-foreground);
    height: 80px;
    width: 100%;
    border: 1px solid var(--dark-accent);
    top: 0;
    z-index: 11;
    /*
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    border-radius: 10px;
    background-color: rgba(45, 51, 59, 0.5);
    backdrop-filter: blur(10px);*/
}

body.light .header{
    background: var(--light-foreground);
    /*background-color: rgba(198, 204, 208, 0.5);
    backdrop-filter: blur(10px);*/
}

.hamburger-menu{
    top: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    background: var(--dark-accent);
    border-radius: 5px;
    padding: 5px;
    transition: background 0.5s;
}

body.light .hamburger-menu{
    background: var(--light-accent);
}

.hamburger-menu:hover{
    background: #999999;
}

body.light .hamburger-menu:hover{
    background: var(--light-border);
}

.header-logo{
    display: flex;
    position: absolute;
    top: 8px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 64px;
    height: 64px;
    background: var(--dark-accent);
    padding: 5px;
    border-radius: 12px;
}

body.light .header-logo{
    background: var(--light-accent);
}

.theme-icon-light{
    width: 32px;
    height: 32px;
}

body.light .theme-icon-light{
    display: none;
}

.theme-icon-dark {
    display: none;
}

body.light .theme-icon-dark{
    display: flex;
    width: 32px;
    height: 32px;
}

.btn-toggle{
    display: flex;
    position: absolute;
    background: var(--dark-accent);
    padding: 5px;
    right: 20px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 5px;
    transition: background 0.5s;
    border: none;
    cursor: pointer;
}

.btn-toggle:hover{
    background: #999999;
}

body.light .btn-toggle{
    background: var(--light-accent);
}

body.light .btn-toggle:hover{
    background: var(--sgd-blue);
}

/*  End Header Section */

.betterstack-badge {
    padding: 0px 8px 0px 8px;
    display: block;
}