---
import "../styles/pages/not-found.scss";

import Layout from "../layouts/Layout.astro";
---


<Layout title="Jesse Hodgson / 404 :(">

<p class="main-heading">404</p>

<br>

<p class="subtext">
    Sorry, that page could not be found.<br>
    Would you like to return to the home page?
</p>

<br>

<a class="pill-button" href="/">Home</a>

<br><br>

</Layout>