---
import '../styles/pages/about.scss'
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Jesse Hodgson / About">

    <Header />

    <h1> About </h1>

    <h2> Jesse Hodgson </h2>


</Layout>