---
import '../styles/pages/software.scss'
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="SpaceGameDev Software">

    <Header />

    <h1> SpaceGameDev Software </h1>
</Layout>