---
import "../styles/header.scss";
---

<div class="header">

        <h3 style="text-align: left; margin: 0;">SpaceGameDev</h3>



    <button class="sidebar-button-toggle" onclick="toggleSidebar()">
        <span class="material-symbols-outlined"> menu </span>
    </button>
</div>