---
import '../styles/components/header.scss';
import SidebarButton from './SidebarButton.astro';
import SidebarToggle from './react/buttons/SidebarToggle.jsx';
---

<div class="header">

    <SidebarToggle client:load />

</div>

<div class="top-spacer"/>

<div class="sidebar" id="sidebar">
    <SidebarButton title="Home" symbol="home" link="/"/>
    <SidebarButton title="About" symbol="data_info_alert" link="about" />
    <SidebarButton title="Software" symbol="sdk" link="software" />
</div>