---
const props = Astro.props

import "../styles/components/sidebar-button.scss";

---

<a href={props.link} class="sidebar-button">

    <span class="material-symbols-outlined"> {props.symbol} </span>
    <p> {props.title} </p>
</a>