---
const props = Astro.props

import "../styles/components/sidebar-button.scss";

---

<a href={props.link} class="sidebar-button">

    <span class="material-symbols-rounded icon"> {props.symbol} </span>
    <p class="title"> {props.title} </p>
</a>