.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}

.social-card {
    width: 512px;
    height: 256px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background: var(--dark-foreground);
    border: 1px solid var(--dark-accent);
    transition: background 0.3s;
    text-decoration: none;
}

body.light .social-card{
    background: var(--light-foreground);
    border: 1px solid var(--light-accent);
}

.social-card:hover{
    background: var(--sgd-blue);
}

body.light .social-card:hover{
    background: var(--light-sgd-blue);
}

.social-icon {
    width: 128px;
    height: 128px;
    float:left;
}

body.light .github{
    filter: brightness(0%);
}

.social-name{
    font-family: Orbitron, Open Sans, system-ui;
    font-weight: bold;
    font-size: 30px;
    color: var(--dark-text);
    float:left;
    margin-left: 20px;
}

body.light .social-name {
    color: var(--light-text);
}

.social-username{
    font-family: Open Sans, system-ui;
    font-weight: bold;
    color: #4a81d5;
    font-size: 16px;
    float:left;
    margin-left: 20px;
    line-height: 0;
}

.social-description{
    font-family: Comfortaa, Open Sans, system-ui;
    color: var(--dark-text);
    font-size: 16px;
    float:left;
    margin-top: 20px;
}

body.light .social-description{
    color: var(--light-text);
}